*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }  


.scintillant {
    object-fit: cover;
    height: 100vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.85;
 }
 
 header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;
 }

.presentation {
     position: relative;
     object-fit: cover;
     width: 100vw;
     max-height: 450px;
}

 .viewport-header {
    position: relative;
    height: 100vh;
 }


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-image: url("bandeau.png");
    background-repeat : repeat-x;
    padding: 30px 70px;
    font-family : 'Quite Magical' , sans-serif ;
    font-size: 35px;
    border-top: 2px solid red;
    
}

li, a {
    padding-top: 26px;
    color: red;
}

.carte {
    height: 83px;
    background-image: url("bandeau_reverse.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid red;
    margin-top: -50px;
}

.logo {
    flex-grow: 3;
}

.accueil, .presta, .spect, .contact, .galerie {
    flex-grow: 1;
    text-align: center;
}

@media  and (max-width: 780px) {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-raws: 50px 50px 50px;
    }

    .logo {
        
    }
    
}